<div class="container">
  <h1>My tasks</h1>
  <button type="button" class="btn btn-primary"><%= link_to "New task", tasks_new_path %></button>
  <h2> <%= link_to "New task", tasks_new_path %> </h2>
  <div class="row">
    <ul>
    <% @tasks.each do |task| %>
          <% if task.completed == true %>
          <h3 class="mb-3"><i class="far fa-check-square"></i><%= link_to task.title, task_path(task)  %></h3>
          <% else %>
          <h3 class="mb-3"><i class="far fa-square"></i><%= link_to task.title, task_path(task)  %></h3>
          <% end %>
     <% end %>
     </ul>
  </div>
</div>
